*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

#wrapper{
    width: 100%;
    margin: auto;
}

.clearfix::after{
    clear:both;
    display: block;
    content:"";
}

#Nav{ 
    background-color: rgb(209, 235, 241);
    min-height: 75px;
    line-height: 75px;
    display: flex;        
    align-items: center;    
    justify-content: center;
    position: sticky;
    top:0;
    z-index: 1000;
}

#SSIA{
    font-size: 35px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

@media (max-width: 600px) {
    #SSIA {
        font-size: 20px;             
        padding: 0 5px;              
        line-height: 1.2;            
    }
}
#container{
display: flex;
padding-top: 5%;
justify-content: space-around;
flex-wrap: wrap;
}


.item{
  position: relative;  
  width: 300px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px;
  background-color: rgb(209, 235, 241);
}

.item img{
    position: absolute;
    top: 20px;
}

#map {
  height: 500px;
  width: 300px;
}